.logo {


    &__img {
        margin-top: 10px;
        width: calc(150px + (250 - 150) * ((100vw - 320px) / (1440 - 320)));
        max-width: 250px;

    }
}

.menu {
    &__list {
        margin-left: -4%;
        margin-right: -4%;

        @media (max-width: 320px) {
            display: none;

            &--open {
                display: grid;
            }
        }
    }

    &__item {
        @media (max-width: 320px) {
            position: relative;
        }
    }

    &__link {
        display: block;

        @media (max-width: 320px) {
            padding-left: 30px;
            height: 50px;

            font-size: 15px;
            line-height: 50px;

            background-color: $gray;
            border-bottom: 1px solid $white;

            color: $black;

            &:hover {
                background-color: $yellow;
            }

            &--active {
                background-color: $yellow;
            }
        }
    }

    &__button {
        @media (max-width: 320px) {
            display: block;

            background-color: transparent;
        }
    }

    &__icon {
        @media (max-width: 320px) {
            stroke: yellow;
        }
    }
}